body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

/* p {
color: #8f8f8f;
} */

/* Headings */

.big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 20%;
}

.coloured-section {
    color: #ffffff;
}


#footer {
    background-color: #7badd2;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.8rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/* Buttons */

.getStarted-button {
    margin: 5% 3% 5% 0;
    padding: 1.2rem;
    border-radius: 6rem;
    font-weight: 500;
}

/* Title Section */

#title {
    background-color: #7badd2;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
    position: absolute;
    left: 24%;
    width: 70%;
    /* width of container */
    height: 100%;
    /* height of container */
    object-fit: cover;
    border-radius: 6rem;
}

/* Features Section */

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #0072aa;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #7badd2;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Testimonial Section */

#about {
    background-color: #7badd2;
    color: white;
}

.testimonial-div:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.testimonial-div {
    transition: ease-in-out 0.3s;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}



p.testimonial-text {
    font-size: 1.6rem;
    line-height: 1.5;
    padding-top: 5%;
    /* padding-bottom: 10%; */
}


#press {
    background-color: #7badd2;
    padding-bottom: 3%;
}

.press-logo {
    width: 180px;
    height: 120px;
    margin: 20px 30px 80px;
}

.press-logo:hover {
    transform: scale(1.05);
    transition: 0.5s;
}


/* Team Section */

/* Team Section */

#team {
    padding: 50px;
  }
  
  .container{
    font-family: 'Montserrat-Black';
    font-size: 1.1rem;
    line-height: 1.5;
  }
  
  .section-title h2{
    font-size: 3.5rem;
    padding-bottom: 2%;
  }
  
  .section-title p{
    font-size: 1.3rem;
    line-height: 1.7;
    padding-bottom: 1%;
  }
  
  .row{
    font-family: "Montserrat";
  }
  
  .team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 1s;
  }
  
  .team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .team .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .member:hover {
    transform: translateY(-10px);
  }
  
  .team .member .member-info {
    padding-left: 30px;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #0072aa;
  }
  
  .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .team .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
  }
  
  .team .member p {
    margin: 10px 0 0 0;
    font-size: 16px;
    text-align: center;
  }
  
  .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
  }
  
  .team .member .row .col{
    display: flex;
    justify-content: center;
  }
  
  .team .member .social a i {
    color: #7badd2;
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .member .social a:hover {
    background: #0072aa;
    color: #ffffff;
  }
  
  .team .member .social a:hover i {
    color: #ffffff;
  }
  
  .team .member .social a + a {
    margin-left: 8px;
  }
  
  /* Footer Section */
  
  
  .social-icon {
    margin: 20px 10px;
  }
  
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
  
  @media (max-width: 380px) {
    .navbar-brand{
      font-size: 1.8rem;
    }
  }

  @media (min-width: 380px) and (max-width: 415px) {
      .navbar-brand{
          font-size: 2.2rem;
      }
  }

  @media (max-width: 412px) {
    .team .member {
      padding: 10px;
    }
    .team .member .member-info {
      padding-left: 0px;
      padding-top: 50px;
    }
  
  }
  
  @media (max-width: 412px) {
    #team{
      padding-left: 5px;
      padding-right: 5px;
    }
  
  }